<div class='container'>
  <div class='row'>
    <div class="col">
      <h4 class="d-block mx-auto mb-5", style="background-color: #eee; width:200px; margin:0 50px 50px; padding-left: 30px;"><b>新規会員登録</b></h4>

      <%= form_with model: @user, url: user_registration_path do |f| %>
      <table class='table'>
        <%= render "public/shared/error_messages", resource: resource %>
        <tbody>
          <tr>
            <!--項目追加-->
            <td class="field", height="50px">
              <%= f.label :"アカウント名（２０字以内）" %>
            </td>
            <td></td>
            <td>
              <%= f.text_field :user_name, autofocus: true, placeholder: "sakecolle", class:"form-control" %>
            </td>
          </tr>

          <tr>
            <td class="field", height="50px">
              <%= f.label :"メールアドレス" %>
            </td>
            <td></td>
            <td>
              <%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com", class:"form-control" %>
            </td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td class="field", height="50px">
              <%= f.label :"パスワード" %>
              <% if @minimum_password_length %>
              (<%= @minimum_password_length %>文字以上)
              <% end %>
            </td>
            <td></td>
            <td>
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
            </td>
            <td></td>
            <td></td>
          </tr>

           <tr>
            <td class="field", height="50px">
              <%= f.label :"パスワード(確認用)" %>
            </td>
            <td></td>
            <td>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
            </td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
      <div class="d-block mx-auto" style="width: 300px;">
        <%= f.submit "新規登録", class:"btn btn-success btn-block" %>
      </div>
      <% end %>

    </div>
  </div>
</div>
<h4 class="d-block mx-auto mb-5", style="background-color: #eee; width:250px; margin:30px 20px; padding-left: 30px;"><b>既に登録済みの方</b></h4>
<div align="center">
  <span class="text-center"><%= link_to "ログイン画面", user_session_path %>からログインしてください。</span>
</div>
