<%= render 'layouts/header', user: @user, collection: @collection %>
<%= render 'layouts/introduction', user: @user %>
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'layouts/navbar' %>
    </div>
    <%= form_with model: @edit_collection do |f| %>
    <div class="col-lg-8 offset-2">
      <div>
        <h1></h1>
      </diV>
      <h4>画像</h4>
      <div class="mb-4">
        <%= f.file_field :sake_image, accept: "image/jpg, image/jpeg, image/png" %>
      </div>
      <h4>銘柄名</h4>
      <div class="mb-4">
        <%= f.text_field :sake_name, size: "50" %>
      </div>
      <h4>残量</h4>
      <div class="mb-4">
        <%= f.select :remain_amount, Collection.remain_amounts.keys.map{|k| [I18n.t("enums.collection.remain_amount.#{k}"), k]} %>
      </div>
      <h4>味わい１</h4>
      <div class="mb-4">
        <%= f.radio_button :tastes_rich, :true %>
        <%= f.label :tastes_rich, "濃醇" %>
        <%= f.radio_button :tastes_rich, :false %>
        <%= f.label :tastes_rich, "淡麗" %>
      </div>
      <h4>味わい２</h4>
      <div class="mb-4">
        <%= f.radio_button :tastes_sweet, :true %>
        <%= f.label :tastes_sweet, "甘口" %>
        <%= f.radio_button :tastes_sweet, :false %>
        <%= f.label :tastes_sweet, "辛口" %>
      </div>
      <h4>フレーバー</h4>
      <div class="mb-4">
        <%= f.radio_button :is_aromatic, :true %>
        <%= f.label :is_aromatic, "フルーティ" %>
        <%= f.radio_button :is_aromatic, :false %>
        <%= f.label :is_aromatic, "スッキリ" %>
      </div>
      <%= f.submit '投稿' %>
    </div>
    <% end %>
  </div>
</div>