<%= image_tag @user.get_profile_image(100,100) %>
<%= @user.user_name %><br>
<%= @user.introduction %><br>
<%= @user.stocking_capacity %><br>

<!--ユーザー指定の在庫上限の８割を突破したらアラート。over_eighty_percent_of_stock_capacityメソッドについてはapplication_helper.rb内に定義。-->
<% if @collection.count >= 1 %>
  <%= over_eighty_percent_of_stock_capacity(@collections, @user) %><br>
<% end %>

<%= link_to "ユーザー一覧へ", admin_users_path %>
<%= link_to "collection", user_path %>
<%= link_to "past collection", user_path(past: true) %>
<%= link_to admin_user_path(@user), method: :delete do %>消す<% end %>

<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>image</th>
      <th>銘柄名</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td>
          <%= image_tag collection.get_sake_image(100,100) %>
        </td>
        <td>
          <%= collection.sake_name %>
        </td>
        <td>#{collection.collection_comments.count} コメント</td>
        <td>
          <%= image_tag("#{collection.remain_amount}.png", class: "amount_index") %>
          <%= collection.remain_amount_i18n %>
        </td>
        <!--開栓日時カラムが空でない（＝開栓済み）かつ、残量が0（完飲済み）でない時-->
        <%# if !collection.open_date.nil? && collection.remain_amount != "finish" %>
        <% unless collection.open_date.nil? || collection.remain_amount == "finish" %>
        <!--開栓後どれくらい経過しているか表示。how_long_time_elapseメソッドについてはapplication_helper.rb内に定義。-->
          <td><%= how_long_time_elapse(collection) %></td>
        <% end %>
      </tr>
      <tr>
        <td></td>
        <td>
          <% if collection.tastes_rich == true %>
            <span class="text-success">濃醇</span>
          <% else %>
            <span class="text-success">淡麗</span>
          <% end %>
        </td>
        <td>
          <% if collection.tastes_sweet == true %>
            <span class="text-success">甘口</span>
          <% else %>
            <span class="text-success">辛口</span>
          <% end %>
        </td>
        <td>
          <% if collection.is_aromatic == true %>
            <span class="text-success">フルーティ</span>
          <% else %>
            <span class="text-success">スッキリ</span>
          <% end %>
        </td>
      </tr>
      <tr></tr>
    <% end %>
  </tbody>
</table>