<%= render 'layouts/header', user: @user, collection: @collection %>
<%= render 'layouts/introduction', user: @user %>
<div class="container">
  <%= form_with model: @user do |f| %>
  <div class="row">
    <div class="col-lg-2">
      <%= render 'layouts/navbar' %>
    </div>
      <div class="col-lg-4">
        <%= image_tag @user.get_profile_image(200,200), class: "profimg" %><br>
        <p>現在の画像</p>
        <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/jpg, image/jpeg, image/png" %>
      </div>
      <div class="col-lg-6">
        <% unless @user.nil? %>
          <% if @user.errors.any? %>
            <%= @user.errors.count %>件のエラーが発生しました
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
        <span>ユーザー名</span><br>
        <%= f.text_field :user_name, placeholder: "アカウント名をここに（２０文字以内）", class: "form-control" %><br>
        <span>自己紹介</span><br>
        <%= f.text_area :introduction, placeholder: "自己紹介文をここに（５０文字以内）", class: "form-control", row: "5" %><br>
        <span>在庫上限（目安の本数）：<%= f.select :stocking_capacity, *[1..200], include_blank: "個数選択" %></span><br>
        <div class="text-right">
          <%= f.submit "変更を保存" %>
        </div>
      </div>
  </div>
  <% end %>
</div>
