<div>
  <%= render 'layouts/header', user: @user, collection: @collections %>
  <%= render 'layouts/introduction', user: @user %>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'layouts/navbar' %>
    </div>
    <div class="col-lg-10">
      <h1 class="pb-5">フォロワー</h1>
      <% if @users.empty? %>
        <p>まだフォロワーはいません</p>
      <% end %>
      <% @users.each do |user| %>
        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-3">
              <div align="center">
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image(150,150), class: "profimg" %>
                <% end %>
              </div>
            </div>
            <div class="col-md-5">
              <div class="card-body">
                <h5 class="card-title">
                  <%= link_to user_path(user) do %>
                    <%= user.user_name %>
                  <% end %>
                </h5>
                <p class="card-text number">
                  <%= user.followings.count %>フォロー
                </p>
                <p class="card-text number">
                  <%= user.followers.count %>フォロワー
                </p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="loading" style="margin-top: 50px;">
                 <%= image_tag "loading.gif" %>
              </div>
              <% if current_user != user %>
                <% if user.followed_by?(current_user) %>
                  <p style="margin-top: 50px;"><%=link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "btn-follow" %></p>
                <% else %>
                  <p style="margin-top: 50px;"><%=link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn-follow" %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
