<div>
  <%= render 'layouts/header', user: @user, collection: @collections %>
  <%= render 'layouts/introduction', user: @user %>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'layouts/navbar' %>
    </div>
    <div class="col-lg-10">
      <div>
        <div class="tab-list list-unstyled">
          <span class="tab tab-left tab-active">
            collection
          </span>
          <span class="tab tab-right">
            past collaction
          </span>
          <span class="alert">
            <% if @user.email != "guest@example.com" %>
              <!--ユーザー指定の在庫上限の８割を突破したらアラート。over_eighty_percent_of_stock_capacityメソッドについてはapplication_helper.rb内に定義。-->
              <% if @collections.count >= 1 && @user == current_user %>
                <%= over_eighty_percent_of_stock_capacity(@user_collections, @user) %>
              <% end %>
            <% end %>
          </span>
        </div>
        <div class="tabbox-contents">
          <%= render 'pagenation', collections: @current_collections, past_collections: @past_collections %>
        </div>
      </div>
      <% if @collections.empty? %>
        <p>まだ投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>

